@charset "UTF-8";

* {
    box-sizing: border-box;
}

body {
    background-image: url(imagens/fundo01.jpg);
    margin: auto;
    width: 90%;

}

#fundo {
    margin: auto;
    margin: 0px;
}

h1 {
    font-family: 'Arial Narrow Bold', sans-serif;
    background-color: coral;
    padding: 60px;
    text-align: center;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

p {
    text-align: justify;
}

.centralizar {
    text-align: center;
}

.caixas {
    background-color: rgba(196, 194, 194, 0.603);
    padding: 10px;
    border-radius: 5px;
}
a {
    color: rgb(4, 55, 150);
    text-decoration: none;
}

a:hover {
    color: darkgoldenrod;
    text-decoration: underline;
}

ul li::marker {
    content: "➡️";
}

ul li {
    color: rgb(77, 75, 74);
    font-family: 'Arial Narrow', Arial, sans-serif
}

hr {
    border-color: black;
}
