@charset "UTF-8";

* {
    box-sizing: border-box;
}

body {
    background-image: url(imagens/fundo01.jpg);
    margin: auto;
    width: 90%;

}

#fundo {
    margin: auto;
    margin: 0px;
}

h1 {
    font-family: 'Arial Narrow Bold', sans-serif;
    background-color: coral;
    padding: 60px;
    text-align: center;
    margin: auto;
    width: 1000px;
    margin-top: 20px;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    text-align: center;
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
}

p {
    text-align: justify;
}

.centralizar {
    text-align: center;
}

.caixas {
    background-color: rgba(196, 194, 194, 0.603);
    padding: 20px;
    border-radius: 5px;
    width: 1000px;
    margin: auto;
}

a {
    color: rgb(4, 55, 150);
    text-decoration: underline;
}

a:hover {
    color: darkgoldenrod;
    text-decoration: underline;
}

ul li::marker {
    content: "➡️";
}

ul li {
    color: rgb(77, 75, 74);
    font-family: 'Arial Narrow', Arial, sans-serif
}

hr {
    border-color: black;
    width: 800px;
}

figure img {
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

figure img:hover {
    filter: grayscale(100%);
    transform: scale(0.9);
    transition: 0.5s;
}

.legenda {
    font-size: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(87, 92, 94);
}